/* Bootstrap adds some unexplainable margin */
input, textarea {
  margin-bottom: 0 !important;
}

body {
  line-height: normal;
}

.lookup + div table {
  background-color: #fcfdfd;
  font-size: 11px;
  box-shadow: 2px 2px 8px #ccc;
  border: 1px solid #a6c9e2;
}

.lookup + div table td {
  padding: 5px;
}

.lookup + div thead tr {
  font-weight: bold;
}

.lookup + div table thead tr td {
  border-bottom: 1px solid #a6c9e2;
}

.lookup.loading {
  background-image: url(https://www.reading-busesshop.co.uk/ssp/images/loading-2.gif);
  background-size: 20px 20px;
  background-position: 195px 4px;
  background-repeat: no-repeat;
}

.lookup + div .hover {
  background-color: #d0f1ff;
}

.lookup + div .highlight {
  font-weight: bold;
  text-decoration: underline;
}